.consultation {
    min-height: 680px;
    background: url('../../img/consultation_bg.png') center (center/cover) no-repeat;
    padding: 102px 0 108px 0;
    &__descr{
        margin: 8px 0 36px 0;
        font-family: MuseoModerno-Medium;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
    }
}