.reviews {
    padding-bottom: 50px;
    &__wrapper {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        // align-items: center;
    }
    &__img {
        width: 169px;
        height: 169px;
    }
    &__text {
        width: 686px;
        &_title {
            font-family: "MuseoModerno-Bold";
            font-size: 18px;
            line-height: 18px;
            color: #0D0D0D;
        }
        &_subtitle {
            margin-top: 4px;
            font-family: "MuseoModerno-Medium";
            font-size: 14px;
            line-height: 22px;
            color: #646464;
        }
        &_descr {
            margin-top: 10px;
            font-family: "MuseoModerno-Medium";
            font-size: 16px;
            line-height: 24px;
            color: #0D0D0D;
        }
    }
}