.title {
    font-family: "MuseoModerno-Bold", sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: #0D0D0D;
    text-transform: uppercase;
    &__consultation{
        font-family: "MuseoModerno-Bold", sans-serif;
        font-size: 36px;
        line-height: 54px;
        color: #FFFFFF;
        text-transform: uppercase;
    }
    &__catalog{
        font-family: "MuseoModerno-Bold", sans-serif;
        font-size: 30px;
        line-height: 45px;
        text-align: center;
        text-transform: uppercase;
        color: #0D0D0D;
    }
    &__reviews {
        font-family: "MuseoModerno-Bold", sans-serif;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        color: #0D0D0D;
    }
}