@font-face {
  font-family: "MuseoModerno-Bold";
  src: url("../fonts/MuseoSansCyrl-700.ttf") format("truetype")
}

@font-face {
  font-family: "MuseoModerno-Light";
  src: url("../fonts/MuseoSansCyrl-300.ttf") format("truetype")
}

@font-face {
  font-family: "MuseoModerno-Medium";
  src: url("../fonts/MuseoSansCyrl-500.ttf") format("truetype")
}

@font-face {
  font-family: "MuseoModerno-ExtraLight";
  src: url("../fonts/MuseoSansCyrl-100.ttf") format("truetype")
}

@font-face {
  font-family: "MuseoModerno-Black";
  src: url("../fonts/MuseoSansCyrl-900.ttf") format("truetype")
}